.courses {
    width: 100%;

    margin-top: 2%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;   

    text-align: center;
}

li {
    display: inline-flex;
    justify-content: center;
    padding: 0 10px;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.15);  
}