.createCourseBody {
    position: absolute;
    top: 80px;

    bottom: 0;
    left: 0;
    right: 0;

    display: inline-flex;
    justify-content: center;

    box-sizing:border-box;
}

.createCourseGeneral {
    width: 80%;
    height: 90%;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.createCourseGeneralTitle {
    display: flex;
    align-items: flex-start;

    font-family: 'Open Sans', serif;
    font-style: normal;
    font-weight: 700;

    color: #333E48;
}

.createCourseGeneralGroup {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background: #FFFFFF;
    
    border: 1px solid rgba(0, 0, 0, 0.12);
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2) inset;
    border-radius: 5px;
}

.createCourseGeneralSubGroup {
    width: 90%;
    height: 90%;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
}

.h2,.h3, .h5 {
    margin-top: 0;
    margin-bottom: 0;

    font-family: 'Open Sans', serif;
    font-style: normal;
    font-weight: 700;

    color: #333E48;
}

.createCourseSubGroup {
    width: 100%;

    margin-top: 15px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.infoGroup {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;

    margin-top: 10px;
}

.courseTitleInput {
    width: 100%;
    height: 40px;
}

.courseDescriptionInput {
    width: 100%;
    height: 90px;
}

.durationBlock {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.durationInput {
    width: 50%;
    height: 50px;
}

.durationInHours {
    margin-left: 5px;
}

.authorsBlock {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.authorsInput {
    width: 50%;
    height: 50px;
}

.authorsButton {
    width: 20%;
    height: 50px;

    margin-left: 5px;
}

.createCourseButtonsGroup {
    width: 200px;
    height: 50px;

    margin-left: auto;
    margin-top: 20px;

    display: inline-flex;
    align-items: flex-end;
}